body{
	
    background-color: #ffffff;
}

.container{
  text-align: center;
}

form{
     background-color: #212121;
     margin-left: 32%;
     margin-top: 8%;
     /* padding-left: 7%; */
     padding-bottom: 2%;
     border: 1px solid #EEEEEE;
     border-radius: 15px;
     width: 35%;

  }

  .form-inline input{
    width: 100%;
  }

  label{
    color: #757575;
  }

 #signup-link{
    color: #FFC400;
     /* margin-left: 43%; */
      }

 #btn-login{
            background-color: #FFC400;
            margin-left: 40%;
            border: none;
            width: 25%;
        }

h1{
   color: #FFC400;
   margin-left: 17%;
 }