body{
   color: rgb(201, 164, 164);  

  
}
/******************************************/
#topNavbar {
    overflow: hidden;
    background-color: #212121;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    z-index: 1000;
    transition: .3s;
}
.footer-txt1{
    
    margin-bottom: 0px;

}
.navbar-btns .logo{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-left: 40px;
}

#defbtn {
    float: right;
    display: block;
    color: white;
    border: none;
    background: none;
    padding: 4px 14px;
    margin-top: 20px;
    margin-right: 30px;
    font-family: 'Ubuntu';
    font-size: 15px;
    transition: .3s; 
    letter-spacing: 1px;
}

#defbtn:hover {
    cursor: pointer;
}

#signupbtn {
    float: right;
    display: block;
    color: white;
    border: none;
    background-color: #1DE9B6;
    border-radius: 20px;
    padding: 4px 14px;
    margin-top: 20px;
    margin-right: 40px;
    font-family: 'Ubuntu';
    font-size: 15px;
    letter-spacing: 1px;
    transition: .3s; 
}

#signupbtn:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}


.page-footer {
    background-color: #FFC400;
    display: block;
    position: relative;
    width: 100%;
    height: 12%;
}

.page-footer p {
    color: #212121;
    z-index: 100;
    text-align: center;
    font-family: 'ubuntu';
    letter-spacing: 3px;
    padding: 29px;
  

}
/**********************************************/

.container{
    margin-top: 40px;
    padding: 0px;
  
    width: 1380px;
    background-color: #212121(51, 49, 49);
}

.left-side{
    padding: 0px;
    background-color: #212121(51, 49, 49);
}
  .profile-sidebar {
      margin-top:40px;
    background-color: #212121(51, 49, 49);
    padding: 20px 0 10px 0;
    position:fixed; 
   width: 23%;
   height:550px;
  }
  
  .profile-userpic img {
    float: none;
    margin-left: 60px;
    width: 55%;
    height: 34%;

  }

  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #ffc400;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
 
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #ffc400;
    font-size: 15px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  .slider{
      margin-top: 0%;
      margin-left: 30%;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  .avatar{
      width: 90px;
      height: 90px;
  }
  .profile-usermenu ul li.active a {
    color: #ffc400;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
a{
    text-align: center; 
  
    font-family: 'ubuntu';}

.about-workspace{
    font-family: 'ubuntu';
    color:rgb(80, 5, 36);
    font-size: 15px;
}
.informationphoto{
   
   margin-top: 100px;  
   border: 30px;
    font-weight: bold;

}
.information{
 text-align: center;

margin-top: 150px;
}
.parts{
    
    width: 200px;
    left: 40px;

}


.information1{

    font-size: 20px;
    color: rgb(0, 0, 0);
}
button{
 color: black;

 background-color:  #ffc400;
 font-family: 'Ubuntu';
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;

}
  
.button:hover {background-color: #ffc400}
  
.button:active {
  background-color: #9c7a09;

  transform: translateY(4px);
}

.button {
    padding: 15px 25px;
  
    display: block;
    color: white;
    border-radius: 20px;
    padding: 4px 14px;
    font-family: 'Ubuntu';
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #ffc400;
    margin-left: 75%;
   
  }
  .button-reviews{
    padding: 15px 25px;
    display: block;
    color: white;
    border-radius: 20px;
    padding: 4px 14px;
    font-family: 'Ubuntu';
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #1de9b6;
    margin-top: 10px;
     
   

  }
  .button:hover {background-color: #c9a133}

  
.btn {
    font-size:30px;
}
p{
    font-size: 20px;
    columns: #212121;	;
}
ul{
    list-style-type: none;
}
.input-group ,.form-control{
  width: 70%;
  height: 50px;   
}.input-group{
margin-left: 100px;
}
.sellect {  margin-left: 250px;
    margin-top: 10px;
}
.btn-default {
  color: #9cc7f5;
  background-color: rgb(255, 253, 253);
  border-color: #46525f;
  font-size: 15px;
  width: 90px;

}
hr{
    text-align: center;
}
.profile-usertitle-name{
    color: rgb(0, 0, 0);
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #fff;
  background-color:#ffc400;
  border-color: #65686b;
    }
#reviwe {
    height: 50%;
    background-color: white;
    overflow: scroll;

}
#gallery{
    width: 1040px;
}
.gallery {
    width: 100%;  
    border: 1px solid #ccc;
  
}
h1{
    color: #ffc400;
    font-family: 'ubuntu';
    margin-top: 45px;
    margin-right: 45px;
    margin-left: 45px;
    font-size: 30px;
 
}
#bar{
    padding-left: 0%
}
h3{
    color:black;
    font-family: 'ubuntu';
    font-size: 25px;
}
.booking{
    height:100%;
    background-color: #212121;
    margin-top: 40px;
    height: 520px;
}
.media-heading{
    color: #212121;
}

.send{
    width:50px;
    height: 50px;
    background-color: #1de9b6;
}
.rev{
    width: 60%;
height:9%;
}
p{
        font-size: 18px;
}
html, body {
    height: 100%;
  }

  
  img {
    max-width: 100%;
   
  }

  
  .slider {
    width: 90vmin;
    height: 90vmin;
    -webkit-perspective: 100vmin;
            perspective: 100vmin;
    margin: auto;
    -webkit-perspective-origin: top center;
            perspective-origin: top center;
    position: relative;
    box-sizing: border-box;
  }
  .slider__item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 15vmin;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.18s ease;
    transition: -webkit-transform 0.18s ease;
    transition: transform 0.18s ease;
    transition: transform 0.18s ease, -webkit-transform 0.18s ease;
  }
  .slider__item:nth-child(1) {
    -webkit-transform: translate3d(0, 0, 0vmin);
            transform: translate3d(0, 0, 0vmin);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    z-index: 7;
  }
  .slider__item:nth-child(2) {
    -webkit-transform: translate3d(0, 0, -15vmin);
            transform: translate3d(0, 0, -15vmin);
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
    z-index: 6;
  }
  .slider__item:nth-child(3) {
    -webkit-transform: translate3d(0, 0, -30vmin);
            transform: translate3d(0, 0, -30vmin);
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    z-index: 5;
  }
  .slider__item:nth-child(4) {
    -webkit-transform: translate3d(0, 0, -45vmin);
            transform: translate3d(0, 0, -45vmin);
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
    z-index: 4;
  }
  .slider__item:nth-child(5) {
    -webkit-transform: translate3d(0, 0, -60vmin);
            transform: translate3d(0, 0, -60vmin);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    z-index: 3;
  }
  .slider__item:nth-child(6) {
    -webkit-transform: translate3d(0, 0, -75vmin);
            transform: translate3d(0, 0, -75vmin);
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
    z-index: 2;
  }
  .slider__item:nth-child(7) {
    -webkit-transform: translate3d(0, 0, -90vmin);
            transform: translate3d(0, 0, -90vmin);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    z-index: 1;
  }
  .slider__item:nth-child(8) {
    -webkit-transform: translate3d(0, 0, -105vmin);
            transform: translate3d(0, 0, -105vmin);
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
    z-index: 0;
  }
  .slider__image {
    width: 100%;
    height: 70%;
    margin: 0%;
    background-color: #999;
   
    box-sizing: border-box;
    box-shadow: 0px 3vmin 3vmin rgba(0, 0, 0, 0.75), 0 -1.5vmin 2.7vmin rgba(0, 0, 0, 0.75);
    overflow: hidden;
    display: block;
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.18s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.18s ease;
    transition: transform 0.18s ease, opacity 0.2s ease;
    transition: transform 0.18s ease, opacity 0.2s ease, -webkit-transform 0.18s ease;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  
  .slider__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 9vmin;
    height: 9vmin;
    margin: 4px auto;
    border-right: 2vmin solid rgba(24, 22, 22, 0.8);
    border-bottom: 2vmin solid rgba(0, 0, 0, 0.65);
    z-index: 100;
    cursor: pointer;
    -webkit-transform: perspective(10vmin) rotateX(-30deg) rotateZ(45deg);
            transform: perspective(10vmin) rotateX(-30deg) rotateZ(45deg);
  }
  .slider__btn:active {
    border-right-color: #dd6;
    border-bottom-color: #dd6;
  }
  .carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #212121;
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #757575;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

#carousel-reviews{
    
    width: 1200px;
    margin-right: 0px;
    margin-left: 20px;

}
.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 10px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}
.rel {
    position: relative;
}